@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;

}

* {
  color: @apply text-primary
}

.inputGroup {
  @apply flex flex-col
}

.inputGroup label {
  @apply text-sm text-gray-700 mb-1;
  text-transform: uppercase;
}

input {
  @apply bg-bgLight px-4 py-2
}

*:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.link {
  @apply text-primary;
}